.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {

  background-color: #27ae60;
  border-color: #27ae60;
 }

.btn
{
  background-color: #2ecc71;
  border-color: #27ae60;
}

.jumbotron{
	background-color: #ffffff;
}

body{
	background-image: url(http://www.canberrasupplies.co.uk/ekmps/shops/canberra2/images/alkor-static-self-cling-plastic-vinyl-fablon-bamboo-pattern-design-45cm-x-1.5m-30201-p.jpg);
}
