{% extends "layout.html" %}
{% block body %}

<html>
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<head>
</head>

<div class="jumbotron">
<div class="container">
  <h1>Time for some panda facts! </h1>
  <p>
	{{fact}}
  </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button" onClick="window.location.reload()">Get another panda fact!</a></p>
</div>
</div>

<img src="https://media.giphy.com/media/bEqrzkLVWC3bW/giphy.gif">

<script src="static/scripts/main.js"></script>

</html>

{% endblock %}