{% extends "layout.html" %}
{% block body %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/custom.css">
</head>

<div class="jumbotron">
<div class="container">
  <h1>Time for some panda facts! </h1>
  <p>
	{{fact}}
  </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button" onClick="window.location.reload()">Get another panda fact!</a></p>
</div>
</div>

<img src="static/img/panda1.gif" id="banner" style="height:300px" alt="Random image" />

<script type="text/javascript">
  var images = new Array('static/img/panda1.gif', 'static/img/panda2.gif', 'static/img/panda3.gif', 'static/img/panda4.gif', 'static/img/panda5.gif', 'static/img/panda6.gif', 'static/img/panda7.gif');
  var l = images.length;
  var random_no = Math.floor(l*Math.random());
  document.getElementById("banner").src = images[random_no];
</script>


<script src="static/scripts/main.js"></script>

</html>

{% endblock %}